.about {
    display: block;
    width: 960px;
    max-width: 100%;
    margin: auto;
}

.contactList {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

.contactList li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    padding: 5px 0;
}

.contactListText {
    display: inline-block;
    vertical-align: middle;
}

.contactList img {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.contacts {
    /*float: right;*/
}

.card {
    padding: 30px;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, .870588);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 6px, rgba(0, 0, 0, .117647) 0 1px 4px;
    border-radius: 2px;
}

@media screen and (max-width: 980px) {
    .contacts {
        float: none;
    }
}