.main {
    position: absolute;
    display: block;
    top: 200px;
    left: 50%;
    padding: 20px;
    width: 400px;
    height: 200px;
    margin-left: -200px;
    box-shadow: 0 1px 3px -1px #000;
    font-size: 22px;
    background: #ddd;
    text-align: center;
    color: #222;
}