.wrap {
    display: block;
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.link {
    font-size: 14px;
    color: #777;
    margin-right: 20px;
    transition: .2s color ease-out;
}

.activeLink {
    color: #000;
}

@media screen and (max-width: 500px) {
    .link {
        display: block;
        width: 100%;
        background: #eee;
        font-size: 20px;
        padding: 4px;
        font-weight: 300;
        margin-bottom: 1px;
    }

    .link:hover {
        color: #000;
    }
}