.main {
    display: block;
    margin: auto;
    width: 960px;
    max-width: 100%;
}

.main img, .main iframe {
    max-width: 100% !important;
}

.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.postHeader {
    font-family: "Georgia, 'Times New Roman', Times, serif";
    font-size: 22px;
    color: #111;
}

.postsLink {
    font-size: 16px;
    padding: 5px 0;
    margin: 5px 0;
}

.postsLink:first-child {
    padding-top: 0;
    margin-top: 0;
}

.posts_link:hover {
    cursor: pointer;
}

.link {
    color: #444;
}

.link:hover {
    cursor: pointer;
}

.card {
    padding: 30px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, .870588);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 6px, rgba(0, 0, 0, .117647) 0 1px 4px;
    border-radius: 2px;
}

.links {
    color: #0d88ff;
}
