.main {
    display: block;
    width: 960px;
    max-width: 100%;
    margin: 30px auto;
}

.mainImage {
    display: block;
    width: 100%;
}

.album {
    display: inline-block;
    margin: 20px;
}

.back {
    display: inline-block;
    padding: 5px 0;
    font-size: 12px;
    color: #666;
    transition: .2s ease-in-out all;
}

.back:hover {
    color: #222;
}

.backWrap {
    position: relative;
}