* {
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    min-height: 100%;
    background: #F5F5F5;
}

img {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
}

.app {
    display: block;
    height: 100%;
    min-height: 100%;
}

.loader {
    display: block;
    width: 66px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -33px;
}

img[src=""] {
    content: "";
}

a:focus, button:focus {
    outline: none;
}

input {
    border: 1px solid #ddd;
    padding: 4px 8px;
}

input[disabled], .input:disabled {
    color: #666;
    background-color: rgb(235, 235, 228);
    border-color: rgb(235, 235, 228);
}
