.header {
    display: block;
    background-color: #eee;
    height: 100px;
    width: 100%;
    text-align: center;
}

.title {
    display: inline-block;
    line-height: 100px;
    vertical-align: middle;
    color: #666;
    font-size: 20px;
    font-weight: 300;
}