.header {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 40px 0 40px 0;
}

.headerWrapper {
    width: 960px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}

.menu {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}

.title {
    display: block;
    color: #999;
    font-weight: 300;
}

.logoLink {
}

.logo {
    display: inline-block;
    border: none;
    outline: none;
}

@media screen and (max-width: 950px) {
    .headerWrapper {
        text-align: center;
        padding-bottom: 0;
    }
    .logoLink {
        position: initial;
    }
    .logo {
        display: block;
        max-width: 100%;
        margin: 0 auto 20px auto;
    }
    .title {
        margin: 10px 0 25px 0;
    }
    .menu {
        position: static;
    }
}
