.main {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 30px auto;
}

.mainImage {
    display: block;
    margin-left: -25%;
    max-width: none;
}

.album {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.card {
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 330px;
    height: 330px;
    margin: 0 0 50px 50px;
}

.card:hover .meta {
    height: 105px;
}

.meta {
    box-sizing: border-box;
    bottom: -30px;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: .2s all cubic-bezier(0.215, 0.61, 0.355, 1);
    padding: 10px 0 10px 20px;
    height: 75px;
}

.header {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    height: 30px;
}

.countPhotos {
    font-size: 11px;
    text-transform: uppercase;
    height: 30px;
}

@media screen and (max-width: 500px) {
    .mainImage {
        display: block;
        margin-left: auto;
        max-width: 100%;
    }

    .card {
        display: block;
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}